/* In the name of Allah -- CSS 3 */

/*
Summary of code
## Elements
## Header
## Content
 # Home
   -Init
   -Features
   -Contributors
 # Download
   -Header
   -Table
   -Dependencies
   -Spanshots
   -Git Clone
## Footer
*/

/* ## Elements */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  color: #444;
  font-size: 14px;
  font-family: Vazir, Helvetica, Arial, FreeSans, sans-serif;
  line-height: 1.6;
}
a {
  cursor: pointer;
}
svg {
  vertical-align: middle;
  fill: currentColor;
  color: #444;
}
code {
  background: #f6f8fa;
  padding: 8px;
  border-radius: 4px;
  
}
.flex-separator {
  flex: 1 0 auto;
}
.fa {
  display: none;
}

/* ## Header */
header {
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 5px #ddd;
  text-align: center;
}

header a:first-child {
  text-decoration: none;
  color: #333;
  line-height: 64px;
  font-size: 24px;
}
header .top {
  display: flex;
  height: 64px;
  padding: 0 12px;
}
header .top a {
  line-height: 64px;
  padding: 16px 8px;
  color: #444;
}
header .top a img {
  width: 36px;
  height: 36px;
  vertical-align: middle;
}
header .top a svg {
  color: #999;
}
header .top a:hover svg,
header .top a:active svg {
  color: #444;
}
header img.logo {
  width: 128px;
  height: 128px;
}
header h1 a {
  font-size: 1.7em;
  text-decoration: none;
  color: #333;
}
header .description {
  margin: 20px 0;
  font-weight: normal;
}
header nav.main-menu {
  display: flex;
}
header nav.main-menu a {
  padding: 10px 20px 4px;
  text-decoration: none;
  color: #444;
}
header nav.main-menu a.current {
  border-bottom: 1px solid #00c853;
  color: #00c853;
}
header nav.main-menu a:last-child {
  border: none;
}

/* ## Content */
section.content {
  padding: 20px 12px 0;
}
section.content section.slide {
  width: 100%;
  display: none;
  text-align: center;
}
section.content section.slide:first-child {
  display: block;
}
section.content > section {
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* # Home */
section#home ul.features {
  list-style: none;
  padding: 10px 0;
  margin: 0;
}
section#home ul.features li {
  margin-top: 30px;
}
section#home ul.features li:first-child {
  margin-top: 0;
}
section#home ul.features li:after {
  display: block;
  content: '';
  clear: both;
}
section#home ul.features li img {
  width: 45%;
  height: auto;
}
section#home ul.features li article {
  float: right;
  width: 50%;
  padding-left: 5%;
  text-align: left;
  vertical-align: middle;
  margin-top: 20px;
}
section#home ul.features li:nth-child(2n+2) article {
  float: left;
  padding-left: 0;
}
@media (max-width:768px) {
  section#home ul.features li img {width: 90%; margin: 0 5%;}
  section#home ul.features li article {width: 95%; text-align: center !important;}
}
section#home ul#contributors {
  padding: 15px 0;
  list-style: none;
  margin: 15px 0;
  border-top: 1px solid #ddd;
}
section#home ul#contributors h3 {
  font-weight: normal;
  margin-bottom: 25px;
}
section#home ul#contributors:after {
  display: block;
  content: "";
  clear: both;
}
section#home ul#contributors li {
  float: left;
  width: 40%;
  background: #48e;
  border-radius: 0 0 25px 0;
  color: #fff
}
@media (max-width:768px) {
  section#home ul#contributors li {width: 100%;}
}
section#home ul#contributors li h4 {
  margin: 8px 12px 0 12px;
  text-align: left;
}
section#home ul#contributors li nav {
  padding: 8px;
}
section#home ul#contributors li nav:after {
  display: block;
  content: "";
  clear: both;
}
section#home ul#contributors li span {
  float: left;
  padding-left: 10px;
}
section#home ul#contributors li a {
  float: right;
}
section#home ul#contributors li a svg {
  color: #fff;
}

/* # Download */
section#download {
  padding-top: 20px;
}
section#download .header {
  width: 100%;
  text-align: left;
}
section#download .header h2 {
  text-align: center;
}
section#download .header .links {
  margin: 24px 0;
  text-align: center;
  font-size: 0;
}
section#download .header .links a {
  display: inline-block;
  width: 32%;
  margin-right: 2%;
  margin-bottom: 12px;
  padding: 12px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
  text-decoration: none;
  color: #444;
  transition: 300ms;
}
section#download .header .links a:nth-child(3n+3) {margin-right: 0;}
section#download .header .links a:hover {background: #444; border-color: #444;}
section#download .header .links a:nth-child(3) {color: #c72438;border-color: #c72438;} /* debian */
section#download .header .links a:hover:nth-child(3) {background: #c72438;}
section#download .header .links a:nth-child(4) {color: #73ba25;border-color: #73ba25;} /* openSUSE */
section#download .header .links a:hover:nth-child(4) {background: #73ba25;}
section#download .header .links a:nth-child(5) {color: #294172;border-color: #294172;} /* Fedora */
section#download .header .links a:hover:nth-child(5) {background: #294172;}
section#download .header .links a:nth-child(6) {color: #4294d2;border-color: #4294d2;} /* Arch Linux */
section#download .header .links a:hover:nth-child(6) {background: #4294d2;}
section#download .header .links a:last-child {
  width: 100%;
  margin-right: 0;
  display: flex;
  padding-left: 8px;
  padding-right: 8px;
  border-color: #d1d8df;
}
section#download .header .links a:hover:last-child {
  background: #d1d8df;
  color: #51585f;
}
section#download .header .links a:last-child span {
  line-height: 32px;
}
section#download .header .links a:last-child svg {color: #d1d8df;}
section#download .header .links a:last-child:hover svg {
  color: #51585f;
}
section#download .header .links a:hover {color: #fff;}

section#download table {
  direction: ltr;
  width: 100%;
  border-collapse: collapse;
}
section#download tr td {
  min-width: 15%;
  padding: 12px 0 6px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  line-height: 2;
}
section#download tr:first-child td,
section#download tr:hover td {
  border-bottom-color: #48e;
  background: #f5f5f5;
}

section#download tr td a {
  color: #48e;
}
section#download #dependencies,
section#download #spanshots,
section#download #git-clone,
section#download #iufsc {
  direction: ltr;
  text-align: left;
  margin-top: 20px;
  border-top: 1px solid #ddd;
}
section#download #iufsc code {
  display: block;
  margin-left: 20px;
}
section#download #git-clone {
  padding-bottom: 20px;
}
section#download #git-clone p {
  margin-left: 20px;
}

/* ## Footer */
footer {
  display: flex;
  border-top: 1px solid #ddd;
  box-shadow: 0 0 8px #eee;
}
footer a {
  color: #48e;
  text-decoration: none;
}
footer > span {
  font-size: 13px;
  line-height: 48px;
  padding: 0 6px;
}
