/* In the name of Allah -- CSS 3 */
html {
    direction: rtl;
}
.en {
    display: none;
}
.fa {
    display: block;
}
span.fa,
a.fa {
    display: initial;
}
section#home ul#contributors li {
    border-radius: 0 0 0 25px;
}
section#home ul#contributors li,
section#home ul#contributors li span {
    float: right;
}
section#home ul#contributors li a {
    float: left;
}
section#home ul.features li article,
section#home ul#contributors li h4,
section#home #dependencies,
section#home #spanshots,
section#home #git-clone,
section#home #iufsc,
section#download .header {
    text-align: right;
}
section#download .header .links a {
    margin-left: 2%;
    margin-right: 0;
}
section#download .header .links a:nth-child(3n+3) {
    margin-left: 0;
}
